<div class="mdl-grid mdl-grid--no-spacing">
  <div class="mdl-cell mdl-cell--12-col">
    <img src="http://fillmurray.com/960/280" class="page-service-image"></img>
  </div>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
  </div>
</div>

<div class="all-project-images-list">
  <div class="project-list">
    <div class="mdl-grid project-list-grid mdl-grid--no-spacing">
      <img src="http://fillmurray.com/450/450" class="list-image"></img>
      <img src="http://fillmurray.com/450/450" class="list-image"></img>
      <img src="http://fillmurray.com/450/450" class="list-image"></img>
      <img src="http://fillmurray.com/450/450" class="list-image"></img>
    </div>
  </div>
</div>
