<div class="mdl-grid mdl-grid--no-spacing">
  <div class="mdl-cell mdl-cell--6-col">
    <img src="http://fillmurray.com/480/480" class="full-width"></img>
  </div>

  <div class="mdl-cell mdl-cell--6-col about-member-info">
    <h2>Saletta Ramirez</h2>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
    <ul class='mdl-list'>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Es una gran diseñadora
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Se llama Saletta 【•】_【•】
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Something Something Something
        </span>
      </li>
    </ul>
    <%= image_tag 'facebook-black.png', width: 55, height: 55 %>
    &nbsp;
    <%= image_tag 'twitter-black.png', width: 45, height: 45 %>
    &nbsp;
    <%= image_tag 'instagram-black.png', width: 45, height: 45 %>
  </div>
</div>
