@import url('https://fonts.googleapis.com/css?family=Francois+One');

body {
  margin: 0;
  font-family: 'Francois One', sans-serif;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

::-moz-selection {
  background-color: #C9283E;
  color: #fff;
}

::selection {
  background-color: #C9283E;
  color: #fff;
}

.nuail-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}


.mdl-textfield--expandable {
  width: auto;
}

.nuail-fab {
  position: absolute;
  right: 20%;
  bottom: -26px;
  z-index: 3;
  background: #526e90 !important;
  color: black !important;
}

.nuail-mobile-title {
  display: none !important;
}


.nuail-logo-image {
  width: 140px;
}

.nuail-logo-image-main {
  width: 14%;
}

.nuail-header {
  overflow: visible;
  background-color: white;
}

.nuail-header .material-icons {
  color: #526e90 !important;
}

.nuail-header .mdl-layout__drawer-button {
  background: transparent;
  color: #526e90;
}

.nuail-header .mdl-navigation__link {
  color: #15181d;
  font-weight: 700;
  font-size: 14px;
}

.nuail-navigation-container {
  /* Simple hack to make the overflow happen to the left instead... */
  direction: rtl;
  order: 1;
  width: 500px;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
  width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.nuail-navigation {
  /* ... and now make sure the content is actually LTR */
  direction: ltr;
  justify-content: flex-end;
  width: 800px;

  button {
    font-family: 'Francois One', sans-serif;
  }
}

.nuail-search-box.is-focused + .nuail-navigation-container {
  opacity: 0;
  width: 100px;
}


.nuail-navigation .mdl-navigation__link {
  display: inline-block;
  height: 60px;
  line-height: 68px;
  background-color: transparent !important;
  border-bottom: 4px solid transparent;
}

.nuail-navigation .mdl-navigation__link:hover {
  border-bottom: 4px solid #526e90;
}

.nuail-more-button {
  order: 3;
}


.nuail-drawer {
  border-right: none;
}

.nuail-drawer-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}

.nuail-drawer .mdl-navigation__link.mdl-navigation__link {
  font-size: 24px;
  color: #15181d;
}

.nuail-drawer span.mdl-navigation__link.mdl-navigation__link {
  color: #526e90;
}

.nuail-drawer .mdl-layout-title {
  position: relative;
  background: #15181d;
  height: 160px;
}

.nuail-drawer .nuail-logo-image {
  position: absolute;
  bottom: 16px;
}

.nuail-be-together-section {
  position: absolute;
  color: white;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.logo-font {
  font-family: 'Francois One', sans-serif;
  line-height: 1;
  color: #15181d;
  font-weight: 500;
}

.nuail-slogan {
  font-size: 60px;
  color: white;
  padding-top: 160px;

  img {
    width: 100%;
  }
}

.nuail-sub-slogan {
  font-size: 21px;
  color: white;
  line-height: 125%;
  padding-top: 24px;
}

.nuail-screen-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px;
}

.nuail-screens {
  text-align: right;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

.nuail-screen {
  text-align: center;
}

.nuail-screen .nuail-link {
  margin-top: 16px;
  display: block;
  z-index: 2;
}

.nuail-image-link {
  text-decoration: none;
}

.nuail-tv {
  display: inline-block;
  width: 300px;
  margin-right: 80px;
}

.nuail-tv .nuail-screen-image {
  width: 100%;
  z-index: 1;
}



.nuail-link {
  text-decoration: none;
  color: #540032 !important;
}

.nuail-link:hover {
  color: #C9283E !important;
}

.nuail-link .material-icons {
  position: relative;
  top: -1px;
  vertical-align: middle;
}

.nuail-alt-link {
  text-decoration: none;
  color: #64ffda !important;
  font-size: 16px;
}

.nuail-alt-link:hover {
  color: #C9283E !important;
}

.nuail-alt-link .material-icons {
  position: relative;
  top: 6px;
}

.nuail-footer {
  background-color: #15181d;
  position: relative;
}

.nuail-footer a:hover {
  color: #C9283E;
}

.nuail-footer .mdl-mega-footer--top-section::after {
  border-bottom: none;
}

.nuail-footer .mdl-mega-footer--middle-section::after {
  border-bottom: none;
}

.nuail-footer .mdl-mega-footer--bottom-section {
  position: relative;
}

.nuail-footer .mdl-mega-footer--bottom-section a {
  margin-right: 2em;
}

.nuail-footer .mdl-mega-footer--right-section a .material-icons {
  position: relative;
  top: 6px;
}


.nuail-link-menu:hover {
  cursor: pointer;
}


/**** Mobile layout ****/
@media (max-width: 900px) {
  .nuail-navigation-container {
    display: none;
  }

  .nuail-title {
    display: none !important;
  }

  .nuail-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
  consecutive "+" operators in some cases. Therefore, we need to use both
  here to cover all the bases. */
  .nuail.nuail-search-box.is-focused ~ .nuail-mobile-title,
  .nuail-search-box.is-focused + .nuail-navigation-container + .nuail-mobile-title {
    opacity: 0;
  }

  .nuail-more-button {
    display: none;
  }

  .nuail-be-together-section {
    height: 350px;
  }

  .nuail-slogan {
    font-size: 26px;
    margin: 0 16px;
    padding-top: 24px;
  }

  .nuail-sub-slogan {
    font-size: 16px;
    margin: 0 16px;
    padding-top: 8px;
  }

  .nuail-fab {
    display: none;
  }

  .nuail-footer .mdl-mega-footer--bottom-section {
    display: none;
  }
}

.full-width {
  width: 100%;
}

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}


.home-call-to-action {
  margin: 70px;
  height: 80px;
  width: 200px;
}


.video-service-page {
  height: 900px;

  p.line-item-video {
    font-size: 20px;
    margin-left: -34px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p.line-item-video span {
    background: #fff;
    margin: 34px 46px 40px 15px;
  }
  p.line-item-video:before,
  p.line-item-video:after {
    background: black;
    height: 2px;
    flex: 1;
    content: '';
  }
  p.line-item-video.left:after {
    background: none;
  }
  p.line-item-video.right:before {
    background: none;
  }
}

.video-cont {
  width: 600px;
  height: 350px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}

.video-iframe {
  width: 100%;
  display: block;
  height: 100%;
  border-radius: 3px 3px 0px 0px;
}

#servicios-navbar {
  margin-bottom: 4px;
}

.nuail-admin-link {
  color: #E88A34 !important;
}

.mdl-grid-proyects {
  padding: 0;
}

.mdl-cell-proyects {
  width: 100%;
  margin: 0;
}

.project-info-container {
  position: absolute;
  color: white;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  z-index: 999;
  opacity: 0;
}

.featured-project {
  width: 100%;
  height: 400px;
  max-height: 400px;
  position: relative;
  display: block;
  overflow: hidden;
}

.featured-project img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.featured-project:hover {
  background-color: black;
  opacity: 0.4;
  cursor: pointer;
  .project-info-container {
    border-radius: 6px;
    background-color: black;
    width: 170px;
    opacity: 0.4;
    color: white;
    text-align: center;
    opacity: 1;
  }
}

.mdl-tabs__tab-bar {
  background-color: #15181d;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color: #526e90;
}

.mdl-tabs__tab {
  color: white;
  font-weight: 500;
}

.mdl-tabs__panel {
  min-height: 300px;
  background: gray;
}

.project-list {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

.project-list-grid {
  position: relative;
}

.list-image {
  margin: 0;
  img {
    width: 100%;
  }
}

.list-project-container {
  position: relative;
}

.project-info {
  display: none;
}

.list-project-container:hover {
  background-color: white;
  opacity: 0.4;
  cursor: pointer;
  .project-info {
    display: block;
    border-radius: 6px;
    position: absolute;
    top: 10%;
    left: 30%;
    background-color: black;
    width: 170px;
    opacity: 0.4;
    color: white;
    text-align: center;
    opacity: 1;
  }
}

.mdl-grid-proyect-detail {
  padding: 0;
}

.mdl-cell-proyect-detail {
  width: 100%;
  margin: 0;
}

.project-image-detail {
  width: 100%;
  height: 400px;
  max-height: 400px;
  position: relative;
  display: block;
  overflow: hidden;
}

.project-image-detail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.contact-form {
  padding-left: 100px;
}

.division-line-video {
  left: 48%;
  top: -80%;
  width: 3px;
  height: 290%;
  margin: 0;
  position: absolute;
  overflow: hidden;
}

.division-line-video-inner {
  position: absolute;
  width:100%;
  height: 50%;
  background: black;
  top: 30%;
}

.service-icon-image {
  width: 13%;
  float: left;
  margin-right: 3%;
}

.service-icon-image-nu {
  width: 10%;
  float: left;
  margin-right: 3%;
}

.service-title {
  margin-bottom: 10%;

  h1 {
    font-family: 'Francois One', sans-serif;
    font-size: 70px;
  }
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
  background-color: #526e90;
}
